.login-section * {
  box-sizing: border-box;
}

.login-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: 'Titillium Web', sans-serif;
}

.login-section footer {
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 63px;
  line-height: 63px;
  color: #ffffff;
  background: #1b2e2f;
  text-align: center;
}

.login-section footer b {
  font-weight: 400;
  font-size: 16px;
}

.login-section .login-box-wrapper {
  background: transparent;
  width: 360px;
  height: 343px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.login-section .login-error {
  background: #a91a1c;
  color: #ffffff;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.login-section .login-box {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  border-radius: 0;
  height: 303px;
  background: #ffffff;
  padding: 40px 46px 46px 46px;
}

.login-section .username-input,
.login-section .password-input {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 17.5px;
  font-weight: 300;
  color: #282828;
  height: 45px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom: 1px solid #b8b8b8;
  line-height: 46px;
  text-align: center;
}

.login-section input:focus {
  outline: 0;
}

.login-section input::-webkit-input-placeholder,
.login-section input::-moz-placeholder,
.login-section input:-moz-placeholder,
.login-section input::-ms-input-placeholder {
  color: #282828;
}

.login-section .password-input {
  margin-top: 17px;
}

.login-section .login-error {
  height: 32px;
  line-height: 32px;
}

.login-section .login-button {
  margin-top: 27px;
  width: 100%;
  height: 50px;
  background: #17adb7;
  color: #ffffff;
}

.login-section label.remember {
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  height: 15px;
  color: #282828;
  margin-top: 21px;
  display: block;
}

.login-section label.remember input .forgot-link{
  margin-right: 8px;
}

.login-section .forgot-link {
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  height: 15px;
  color: #282828;
  margin-top: 21px;
  display: block;
}

/*Up-left pointing triangle in login box */
.triangle-up-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    padding-bottom: 10%;
    padding-left: 10%;
    overflow: hidden;
}
.triangle-up-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -250px;
    border-bottom: 250px solid transparent;
    border-left: 250px solid #17adb7;
}
