<section class="forgot-section">

  <div class="forgot-box-wrapper">

    <div class="reset-success" *ngIf="auth.isResetSuccess!=null && auth.isResetSuccess == true">Reset link sent to your email.</div>
    <div class="reset-error" *ngIf="auth.isResetSuccess!=null && auth.isResetSuccess == false">Unable to reset password.</div>
    <div class="reset-error" *ngIf="!isValidInput">Field can't be blank.</div>

    <div class="forgot-header"><i class="triangle-up-left"></i>Forgot Password?</div>

    <md-card class="forgot-box">
      <input class="email-input" type="text" #email placeholder="Enter Email Address"/>
      <button md-raised-button class="send-button" (click)="changePassword(email.value)">SEND RESET LINK</button>
      <a class="back-link" href="javascript:void(0)" (click)="backToLogin()">Back To Login</a>
    </md-card>

  </div>
</section>
